html {
  font-family: sans-serif;
}

#quiz {

}

#submit {
  text-align: center;
}

#results {
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.category {
  font-size: 16px;
  font-weight: 300;
  color: lightgrey;
  text-align: center;
}
